@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, td, input, select, option, textarea {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  color: #000;
}

img {
  vertical-align: middle;
}

body {
  font-family: "微软雅黑";
}

/*头部*/
.top {
  width: 100% px;
  box-shadow: 0 2px 16px 0 rgba(220, 220, 220, 0.5);
}

.header-wrap {
  width: 1200px;
  height: 72px;
  margin: 0 auto;
}

.header-wrap .logo {
  width: 92px;
  height: 42px;
  margin-top: 15px;
  float: left;
}

.recommed-header {
  width: 100px;
  height: 72px;
  margin-left: 40px;
  float: left;
  line-height: 72px;
}

.recommed-header a {
  margin-right: 15px;
  text-decoration: none;
}

.recommed-header a:last-child:hover {
  color: #FF1268;
}

.recommed-header .home-page:hover {
  color: #FF1268;
}

.search-header {
  position: relative;
  width: 400px;
  height: 45px;
  background: #fff;
  margin-top: 12px;
  margin-left: 265px;
  border-radius: 40px;
  float: left;
  background: #f8f8f8;
  border: 1px solid #f8f8f8;
}

.search-img {
  position: absolute;
  left: 22px;
  top: 15px;
  width: 17px;
  height: 18px;
}

.input-search {
  position: absolute;
  right: 70px;
  width: 265px;
  height: 44px;
  outline: none;
  border: none;
  font-size: 16px;
  color: #757575;
  background: #f8f8f8;
}

.btn-search {
  position: absolute;
  left: 324px;
  top: -1px;
  width: 82px;
  height: 105%;
  border-radius: 0 27px 27px 0;
  background-color: #FF1268;
  color: #fff;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
}

.header-right {
  width: 268px;
  height: 72px;
  float: right;
  position: relative;
}

.user-header, .ueser-down {
  margin-left: 17px;
  width: 63px;
  height: 100%;
  float: left;
  line-height: 72px;
}

.user-header span:hover, .ueser-down span:hover, .eng-header span:hover {
  color: #FF1268;
}

.header-right a {
  text-decoration: none;
}

.eng-header {
  margin-left: 19px;
  width: 89px;
  height: 100%;
  float: left;
  line-height: 72px;
}

.header-right img {
  width: 26px;
  width: 26px;
}

/*****1******/
.login-one {
  position: absolute;
  width: 129px;
  height: 156px;
  left: -16px;
  top: 60px;
  z-index: 10;
  background: #fff;
  font-size: 14px;
  border: 1px solid #f2f2f2;
  display: none;
}

.login-one li {
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #f2f2f2;
  box-sizing: border-box;
  text-align: center;
  line-height: 52px;
}

.user-header:hover .login-one {
  display: block;
}

.login-one li:hover {
  color: #FF1268;
  background: #fff4f8;
}

.login-one li:hover a {
  color: #FF1268;
}

.login-one::after {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -5.5px;
  width: 0;
  margin-left: -3px;
  content: '';
  border-style: solid;
  border-width: 5px;
  border-color: #fff #fff transparent transparent;
  transform: rotate(-45deg);
  box-shadow: 1px -1px 1px #ccc;
}

/*****2*****/
.down-one {
  position: absolute;
  left: 93px;
  top: 63px;
  width: 90px;
  height: 90px;
  z-index: 10;
  background: #fff;
  box-shadow: 1px -1px 1px #ccc;
  display: none;
}

.down-one img {
  width: 80px;
  height: 80px;
  margin: 5px 5px 5px 5px;
}

.down-one::after {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -5.5px;
  width: 0;
  margin-left: -3px;
  content: '';
  border-style: solid;
  border-width: 5px;
  border-color: #fff #fff transparent transparent;
  transform: rotate(-45deg);
  box-shadow: 1px -1px 1px #ccc;
}

.ueser-down:hover .down-one {
  display: block;
}

/*内容*/
.content {
  width: 1200px;
  height: 3270px;
  margin: 0 auto;
  border: 1px solid #ebebeb;
}
.content .content-l {
  width: 880px;
  height: 100%;
  float: left;
  background: yellow;
}
.content .content-l .hd {
  width: 880px;
  height: 740px;
  padding: 40px 0 60px 0;
  border: 1px solid #fff;
}
.content .content-l .hd img {
  width: 270px;
  height: 360px;
  margin-left: 30px;
}
.content .content-l .hd .order {
  width: 550px;
  height: 780px;
  float: right;
}
.content .content-l .hd .order .title {
  font-size: 22px;
}
.content .content-l .hd .order .some {
  font-size: 16px;
  color: #4a4a4a;
  margin-top: 21px;
}
.content .content-l .hd .order .some .time {
  padding-bottom: 10px;
}
.content .content-l .hd .order .some .place {
  display: inline-block;
}
.content .content-l .hd .order .some .mapicon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: url(../img/map.png) no-repeat;
  background-size: 100% 100%;
}
.content .content-l .hd .order .order-box {
  width: 100%;
  height: 657px;
}
.content .content-l .hd .order .order-box .pre-notice {
  width: 490px;
  height: 48px;
  font-size: 12px;
  padding: 12px 15px;
  margin-top: 17px;
  background-color: #F6f6f6;
}
.content .content-l .hd .order .order-box .pre-notice .pre-noticeLeft {
  float: left;
  color: #FF1268;
  width: 36px;
  height: 48px;
}
.content .content-l .hd .order .order-box .pre-notice span {
  margin-left: 7px;
  color: #FF1268;
}
.content .content-l .hd .order .order-box .pre-notice .pre-noticeRight {
  float: right;
  width: 435px;
}
.content .content-l .hd .order .order-box .pre-notice .pre-noticeRight p:nth-child(2) {
  color: #999;
}
.content .content-l .hd .order .order-box .notice-time {
  color: #999;
  font-size: 12px;
  margin: 24px 0 9px;
}
.content .content-l .hd .order .order-box .notice-time img {
  margin-left: 15px;
  width: 14px;
  height: 14px;
  margin-right: 3px;
}
.content .content-l .hd .order .order-box .notice-select {
  height: 48px;
  width: 500px;
}
.content .content-l .hd .order .order-box .notice-select .select-left {
  height: 100%;
  font-size: 16px;
  margin-left: 14px;
  float: left;
}
.content .content-l .hd .order .order-box .notice-select .select-right {
  margin-left: 55px;
  line-height: 40px;
  text-align: center;
  width: 176px;
  height: 40px;
  font-size: 12px;
  border-color: #ffeaf1;
  color: #ff1268;
  background: #ffeaf1;
  outline-color: #ffeaf1;
}
.content .content-l .hd .order .order-box .order-select {
  width: 520px;
  height: 243px;
}
.content .content-l .hd .order .order-box .order-select .order-left {
  height: 100%;
  font-size: 16px;
  margin-left: 14px;
  float: left;
}
.content .content-l .hd .order .order-box .order-select .order-right {
  width: 473px;
  height: 243px;
  margin-left: 55px;
}
.content .content-l .hd .order .order-box .order-select .order-right .ticket {
  border: 1px solid #fff;
  box-sizing: border-box;
  height: 75px;
  float: left;
  min-width: 40px;
  font-size: 12px;
  cursor: pointer;
  margin: 0 6px 6px 0;
  padding: 8px 24px 6px;
}
.content .content-l .hd .order .order-box .tips {
  width: 475px;
  height: 75px;
  color: #666;
  letter-spacing: .18px;
  line-height: 21px;
  margin-left: 45px;
  margin-top: 28px;
  font-size: 12px;
}
.content .content-l .hd .order .order-box .tips img {
  width: 12px;
  height: 12px;
}
.content .content-l .hd .order .order-box .dbuy {
  margin-top: 30px;
  margin-left: 85px;
  width: 210px;
  height: 40px;
  line-height: 40px;
  background-color: #ff2d79;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border-radius: 3px;
}
.content .content-r {
  width: 320px;
  height: 100%;
  float: right;
  background: orange;
}

/*# sourceMappingURL=goodslist.css.map */
